@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url(assets/scss/_nav.scss);
.selector-for-some-widget {
    box-sizing: content-box;
  }
@media(max-width: 600px){
    .logo{
        margin-top: 5%;
    }
    .s-m{
        margin-left: 10%;
    }
    .menu{
        margin-right: 30%;
    }
    @media(min-width: 412px){
        .menu {
            margin-right: 20%;
        }
        .banner2{
            margin-top: 50%;
            align-items: center;
        }
    }
    @media(min-width: 414px){
        .menu{
            margin-right: 30%;
        }
    }
    @media(min-width: 540px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 534px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 513px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 509px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 504px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 499px){
        .menu{
            margin-right: 5%;
        }
    }
    @media(min-width: 446px){
        .menu{
            margin-right: 5%;
        }
        .logo{
            margin-top: 0.5%;
        }
        .fera{
            font-size: 30px;
        }
        .s-m{
            position: absolute;
            left: 15%;
        }
    }
}

.banner{
    background-color: white;
}
.banner2{
    background-color: white;
}
.ete{
    color: #3e3e3e;
}
.footer h6{
    margin-top: 10%;
}
.logo{
    margin-top: 10%;
}
.nav2{
    padding: 25px 2px;
}
.footer2{
    align-items: flex-end;
}
.s-m{
    position: relative;
    align-items: center;
   
    
}
.s-m a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #1B62E6;
    color: white;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 24px;
}